/*common*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Heebo', sans-serif;
}
.clearfix::after{
    content: "";
    display:table;
    clear: both;
}
.container{
    width:70%;
    margin:0 auto;
}
.container2{
    width:85%;
    margin:0 auto;
}


.float-left{
    float:left;
}
.float-right{
    float: right;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width:50%;
}
.w-60{
    width:60%;
}
.w-70{
    width: 70%;
    padding-left:30px;
}

.text-sx{
    text-align: left;
}
.text-dx{
    text-align: right;
}
.text-center{
    text-align: center;
}
.border-right{
    padding-right:20px;
    border-right: 2px solid #32495B ;
}
.btn{
    display: inline-block;
    padding:5px 10px;
    border-radius: 5px;
    text-decoration: none;
    vertical-align: middle;
    font-size:14px;
}
.btn-lg{
    margin:20px 0;
    padding:20px 35px;
    font-size: 16px;
}
.btn-orange{
    color:white;
    background-color: #FE775A;
}
.btn-white{
    color:#FE775A ;
    border: 1px solid #FE775A;
    background-color: white;
}
.triangle{
    padding-left:10px ;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
}

.text{
    padding:10px 0;
    color:#33475B;
}
.desc{
    line-height: 1.6;
    font-size: 20px;
}
.small{
    font-size: 14px;
}
.color-sky{
    color:#02A6BF;
}
.text-upp{
    text-transform: uppercase;
}
.hr-grey{
    border: 1px solid grey;  
}
.circle-orange{
    color:white;
    padding:2px 5px;
    margin-right:10px;
    line-height: 14px;
    vertical-align: middle;
    font-size: 12px;
    background-color: #FE775A;
    border-radius: 50%;;
}
.border-right{
    border-right: 1px solid white;
}
.border-bottom{
    border-bottom:1px solid white;

}
.plus{
    padding:0;
    font-size:20px;
    vertical-align: middle;
}
.numbers{
    font-size:40px;
    font-weight: 900;
}
.cell{  
    width:25%;
    padding:12px 0;
}
h1, h2 , h3{
    font-family: 'Roboto', sans-serif;
}
/* barra fissata*/
.nav-fixed{
    position:fixed;
    width:100%;
    height:80px;
    border-bottom: 1px solid #32495B;
    background-color: #F4F9FD;
}
.nav-fixed .list-inline{
    margin:30px 0;
}
.list-inline li:not(.btn){
    display:inline-block;
    padding-right:20px;
    line-height: 22px;
    list-style: none; 
    color: #32495B;
    font-size: 18px;
    /*font-weight: 600;*/
}
.list-inline a:not(.btn){
    text-decoration: none; 
    color: #32495B;
}

/*header*/
.list-nav{
    background-color: white;
    padding-top:110px;
    padding-bottom:20px;
}
.jumbotron{
    background-image: url("../img/jumbotron.png");
    background-color: #FFF4EF; 
    background-position-x: 100% ;
    background-position-y: 12%;
    background-repeat: no-repeat;
    height:600px;
    
}
.jumbotron h1{
    padding-top:50px;
    color:#33475B;
    font-size:60px;
    font-weight: 700;
}

#division{
    height: 100px;
    background-color: #AFEBE4;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B ;
}

/*main*/
/*first-section*/
.first-section{
    background-color: #EAF0F6;
}
/*subsezione 1*/
.subsection1 img{
    padding-top:50px;
    width:20%;
}
.subsection1 h2{
    font-size: 30px;
    font-weight: bold;
}
.subsection1 p{
    margin-bottom: 20px;
    font-size:16px;
}
/*sub-sezione 2*/
.subsection2{
    padding:50px 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgrey;
    border-radius: 5px;  
}
.subsection2 img{
    width:40%;
    margin-bottom:20px;
}

.subsection2 .line{
    height:43px;
    width:75%;
}
.line hr{
    margin-top:calc(43px/2);
    vertical-align: middle;
}
.subsection2 li{
    padding:10px 8px 10px 0;
}
/*subsezione 3*/
.col1, .col2, .col3{
    background-color: white;
    box-shadow: 2px 2px 4px lightgrey;
    border-radius: 5px;
}
.col1{
    margin:30px 65px 30px 0px;
}
.col3{
    margin:30px 0px 30px 65px;
}
.col2{
    margin:30px 0;
}
.subsection3 img{
    margin-top:10px;
    width:30%;
    height:150px;
}
.subsection3 p{
    font-size:18px;
    padding: 0 30px;
    height:180px;  
}
.subsection3 hr{
    margin: 0 auto;
    width:80%;
    margin-bottom: 20px;
}
.subsection3 .list-inline {
    padding:20px 0 20px 50px;
}
/*secona sezione*/
.second-section{
    color:white;
    background: linear-gradient(45deg, #00A7BB , #00B5AD); ;
    padding:50px 0 ;
}
.second-section h2{
    padding-bottom: 20px;
    font-size:40px;
}
.second-section p{
    font-size:18px;
    margin-bottom: 50px;
}

.cell .numbers, 
.cell .small{
    display: block;
    padding:5px 0;
}
/*terza sezione*/

.third-section{
    background-color: white;

}
/*logo*/
.w-70 {
    padding-left: 75px;
}
.logos {
 padding:30px 0;
}
.w-70 .row{
    line-height:60px;
}
.img-logo img{
    width:80%;
    vertical-align: middle;
}
/*photo*/
.photo{
    padding:30px 0;
}
.photo .w-40 h2{
    font-size: 36px;
}
.photo .w-40 .desc{
    font-size: 17px;
}
.photo .w-40 p,
.photo .w-40 .btn-lg{
    margin-top:18px;
}
.w-60 img{
    margin-right: 20px;
    width:39%;
}
